.page{
    background-color: #e0e0f0;
    height: 800px;
    width: 960px;
    padding: 8px;  
    display: flex;
    flex-direction: column;
}
img{
    height:200px
}
.imgs1{
    height: 200px;
    background-color: #58c4ee;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    
}
.imgs2{
    height: 200px;
    background-color: #d2a1c7;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    
}
.imgs3{
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin:10px;
    
}
p{
    text-align: center;
}
.bot{
    display: flex;
    justify-content: center;
    align-items: center;
}
